<div class="card text-center m-2">
    <div class="card-header">
      <h3>Desafio Frontend</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Tecnologias e Frameworks utilizandos:</h5>          
      <p class="card-text">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="50"/>
        Angular
      </p>
      <p class="card-text"><img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo-shadow.png" width="50">
        Bootstrap
      </p>
      <p class="card-text">
        <img src="https://www.chartjs.org/img/chartjs-logo.svg" width="50">
        ChartJS
      </p>
            
      
      <p class="card-text">
        <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" width="50">
         API com autenticação JWT</p>
      
    </div>
    <div class="card-footer text-muted">
      <h4>Carlos Alexandre Cavalheiro</h4>
    </div>
  </div>
